.welcome-section {
    background-color: gray;
}



.hero {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 650px;
}

.hero__content {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero__bottom-buttons {
   display: flex;
   justify-content: center;
}