.social-networks__list {
    display: flex;
    align-items: center;

    &--rounded {
        .social-networks__link {
            padding: 25px;
            border: 1px solid black;
            border-radius: 50%;
        }
    }

    &:hover {
        .social-networks__icon {
            fill: green;
        }
    }
}

.social-networks__item {
    margin-right: 40px;
    &:last-child {
        margin: 0;
    }
}

.social-networks__link {
    font-size: 0;
    padding: 13px 16px;
    background-color: yellow;
    position: relative;
    display: flex;
}

.social-networks__icon {
    display: block;
    width: 25px;
    height: 31px;
    fill: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}